<p id="notice"><%= notice %></p>

<h1>Milks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @milks.each do |milk| %>
      <tr>
        <td><%= milk.name %></td>
        <td><%= link_to 'Show', milk %></td>
        <td><%= link_to 'Edit', edit_milk_path(milk) %></td>
        <td><%= link_to 'Destroy', milk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Milk', new_milk_path %>
